<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form id="form">
                    <input id="article-url" type="text" name="input" value="" placeholder="Enter Article URL here" />
          <button type="submit" class="btn-submit" id="sbtn">
            Submit
          </button>
        </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="text"></div>
                <div id="agreement"></div>
                <div id="subjectivity"></div>
                <div id="confidence"></div>
                <div id="irony"></div>
                <div id="score_tag"></div>
            </section>
        </main>
        <script>
            if ('serviceWorker' in navigator) {
              window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js')
              })
            }
          </script>

        <footer>
            <p>This is a footer</p>
        </footer>

    </body>
</html>
